* {
    border-radius: 15px;
}

window {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-family: "JetBrains Mono";
    font-size: 15px;
}

#input {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}

#input:focus {
    box-shadow: none;
}

#entry:selected {
    background-color: rgb(25, 25, 25);
}

#img {
    margin-left: 15px;
    margin-right: 15px;
}
